{% extends "base.html" %}

{% import "macros/forms.html" as forms %}

{% block body %}
<div class="container">
    <div class="col-sm-12 content clearfix">
        <ul class="breadcrumb">
            <li><a href="{{ reverse_url('admin_main') }}">Admin</a> <span class="divider"></span></li>
            <li><a href="{{ reverse_url('admin_list', slug) }}">{{ slug }}</a><span class="divider"></span></li>
            <li class="active">Edit {{ model.verbose_name }}</li>
        </ul>

        <div class="page-header">
            <h1>Edit {{ model.verbose_name }}</h1>
            {% if success %}
                <p>{{ model.verbose_name }} was successfully edited</p>
            {% endif %}
        </div>

        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <hr class="colorgraph">
                {{ forms.render_form(form, action_url='', action_text='Submit Form', xsrf=xsrf, extra=extra) }}
             <hr class="colorgraph">
        </div>
    </div>
</div>
{% endblock %}
